$font-family: system-ui;
$background-color: black;
$text-color: white;
$border-radius: 10px;
$hover-opacity: 1;
$default-opacity: 0.7;
$transition-duration: 0.3s;
$nav-background-color: #2d2d2d;
$nav-border-radius: 50px;
$nav-padding: 20px 0;
$nav-width: 40%;
